<!DOCTYPE html>
<html lang="en">

<head>
    <title>SSNOC Performance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="jquery/jquery.cookie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body onload="iscitizen()">
    <div class="container-fluid">
       
        <h3>Performance Measurement</h3>
        <p>Performance measuement is initiated by Monitor. Please wait till it completes. Thank you.</p>
    </div>
    <script src="script/perfmon_msg.js"></script>
</body>

</html>
