html, body
{
    height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.li-online {
   background:url('../img/green-circle.png') 0% 0% no-repeat no-repeat;
}
.li-offline {
   background:url('../img/grey-circle.png') 0% 0% no-repeat no-repeat;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}